
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="slider.css">
   
  
    <title>vulcões</title>
</head>
<body>
   
    
 
    <div class="content">
        <div class="slides">
            <input type="radio" name="slide" id="slide2"checked>
            <input type="radio" name="slide" id="slide3"checked>
            <input type="radio" name="slide" id="slide4"checked>
            <input type="radio" name="slide" id="slide5"checked>
            <input type="radio" name="slide" id="slide1" checked>
            <div class="slide s1">
                <img src="img/praia.jpg"></img>
            </div>
            <div class="slide">
                <img src="img/cine.jpg">
            </div>
            <div class="slide">
                <img src="img/festa.png">
            </div>
            <div class="slide">
                <img src="img/viajar.jpg">
            </div>
            <div class="slide">
                <img src="img/dormi.jpg">
            </div>
        </div>
        <div class="navition">
            <label class="bar" for="slide1"></label>
            <label class="bar" for="slide2"></label>
            <label class="bar" for="slide3"></label>
            <label class="bar" for="slide4"></label>
            <label class="bar" for="slide5"></label>
           
        </div>
    </div>
  </body>
</html>