
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vulcão.css">
    <link rel="stylesheet" href="style.css">
  
    <title>vulcões</title>
</head>
<body>
    <script src="menurecu.js"></script>
    <script src="script.js"></script>
    
 
    <div class="content">
        <div class="slides">
            <input type="radio" name="slide" id="slide2"checked>
            <input type="radio" name="slide" id="slide3"checked>
            <input type="radio" name="slide" id="slide4"checked>
            <input type="radio" name="slide" id="slide5"checked>
            <input type="radio" name="slide" id="slide1" checked>
            <div class="slide s1">
                <img src="img/vucão3.jpg">
            </div>
            <div class="slide">
                <a href="vucao1.html"><img src="img/vucão4.jpg"></a>
            </div>
            <div class="slide">
                <a href="vucao2.html"><img src="img/vucão6.jpeg"></a>
            </div>
            <div class="slide">
                <a href="vucao3.html"><img src="img/vucão9.webp"></a>
            </div>
            <div class="slide">
                <a href="vucao4.html"><img src="img/vucão.png"></a>
            </div>
        </div>
        <div class="navition">
            <label class="bar" for="slide1"></label>
            <label class="bar" for="slide2"></label>
            <label class="bar" for="slide3"></label>
            <label class="bar" for="slide4"></label>
            <label class="bar" for="slide5"></label>
           
        </div>
    </div>
</body>
</html>